.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    position: relative;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    padding-right: 0;
}
.select2-container--bootstrap5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    left: 5px;
}
.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--selected:after {
    left: 1.25rem;
    right: unset;
}
